
body {
  text-align: center;
  }

  .Modal {
    position: absolute;
    top: 200px;
    left: 500px;
    right: 500px;
    bottom: 250px;
    background-color: rgb(230, 226, 220);
  }

  .Overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:none;
  }
form {
    display: inline-block;
    margin-top: 50px;
    margin-right: 50px;
    margin-bottom: 30px;
    
  }

  input {
    display: block;
    margin-bottom: 15px;
    margin-top: 5px;
    padding: 18px;
    border: 1px solid rgb(163, 156, 159);
    border-radius: 10px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
    outline: none;
    background: none;

  }

  .submit-button {
    padding: 15px 70px 15px ;
    font-size: 21px ;
    background-color: rgb(133, 127, 129);
    font-weight: 500;
    text-shadow: 1px 1px rgb(158, 155, 155);
    color: #ffffff;
    border-radius: 10px;
    border: 1px solid rgb(122, 120, 121);
    cursor: pointer; 
  }