.bar {
  background: rgb(14, 13, 13);
  height: 50px;
}

.mapple {
  position: relative;
  display: inline-block;
  height: 30px;
  width: 236px;
  padding: 10px;
  z-index: 2000;
  cursor: pointer;
}

.logo {
  position: absolute;
  display: block;
  width: 26px;
  height: 30px;
  left: 0;
}

.logo img {
  max-height: 100%;
  max-width: 100%;
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 26px;
  border: 3px solid rgba(0, 0, 0, 0);
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 1);
}

.titles {
  position: relative;
  display: block;
  height: 30px;
  width: 100%;
}

.title_main {
  position: absolute;
  display: inline-block;
  right: 0;
  height: 30px;
  font-size: 30px;
  font-family: sansationregular;
  line-height: 30px;
  width: 170px;
  align-content: center;
}

.title_main_text {
  bottom: -2px;
  color: white;
  display: block;
  font-size: 30px;
  font-family: sansationregular;
  height: 30px;
  line-height: 30px;
  position: absolute;
  right: 0;
}

.title_sub {
  position: absolute;
  height: 30px;
  font-size: 12px;
  font-weight: bolder;
  line-height: 1px;
  color: white;
  margin-left: 50px;
}

.title-container {
  display: grid;
  grid-template-columns: 1fr 6fr 1fr;
  padding: 10px 5px 10px 20px;
}
